@import "tailwindcss";

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./fonts/CabinetGrotesk-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --bg-primary: #131010;
  --bg-secondary: #1a1717;
  --bg-tertiary: #221e1e;
  --text-primary: #ffffff;
  --text-secondary: #a8a5a5;
  --text-muted: #6b6666;
  --border-color: #2a2525;
  --border-light: #3d3636;
}

.light {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --bg-tertiary: #eeeeee;
  --text-primary: #131010;
  --text-secondary: #555050;
  --text-muted: #888383;
  --border-color: #e0dede;
  --border-light: #c8c5c5;
}

* {
  font-family: 'Geist Mono', 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabinet Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

::selection {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}


.light nav img:not(:hover) {
  filter: none;
}

.undl {
  position: relative;
}

.undl::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 4.5px;
  background: #FBBFFF;
  transition: width 0.3s ease, left 0.3s ease;
}

.undl:hover::after {
  width: 100%;
  left: 0;        
}
